html {
  font-size: 45%;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
}

.home-page-with-chat-Rma {
  width: 100%;
  height: 175.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.home-page-with-chat-Rma .group-fpvu-NB2 {
  box-sizing: border-box;
  padding: 4.6rem 9.7rem 20.7rem 9.6rem;
  width: 100%;
  height: 149.1rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #433f6c;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-74-4pY {
  margin-bottom: 9.7rem;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-74-4pY .group-upra-QNc {
  box-sizing: border-box;
  padding: 0.4rem 6rem 0.5rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-74-4pY .group-upra-QNc .pathfinderlogo-removebg-preview-1-jQt {
  margin-right: 34.2rem;
  width: 23.3rem;
  height: 5.1rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-74-4pY .group-upra-QNc .content--3gU {
  margin: 1rem 6.4rem 0.5rem 0rem;
  box-sizing: border-box;
  padding: 0.4rem 0.8rem;
  height: calc(100% - 1.5rem);
  display: flex;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.9300000072);
  border-radius: 1rem;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-74-4pY .group-upra-QNc .content--3gU .magnifyingglass-fhr {
  margin-right: 7.65rem;
  width: 2.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7777777778;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: SF Pro Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-74-4pY .group-upra-QNc .content--3gU .placeholder-label-wfN {
  margin-right: 26.75rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2941176471;
  letter-spacing: -0.0408rem;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: SF Pro Text, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-74-4pY .group-upra-QNc .content--3gU .mic-3yJ {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-74-4pY .group-upra-QNc .insights-muJ {
  margin: 0.6rem 8.9rem 0rem 0rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-74-4pY .group-upra-QNc .experience-uEp {
  margin: 0.4rem 9.3rem 0rem 0rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-74-4pY .group-upra-QNc .mentorship-2qE {
  margin-top: 0.6rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-74-4pY .image-86-mnp {
  width: 6rem;
  height: 6rem;
  position: relative;
  background-size: 100% 125%;
  background-position: 0 0;
  background-image: url('../images/dp.png');
  border-radius: 20.9rem;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .find-your-dream-career-with-5oW {
  margin: 0rem 0rem 2.8rem 0.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.1800000509;
  color: #ecf2ff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .pathfinder-bG4 {
  margin: 0rem 0rem 6.1rem 0.3rem;
  text-align: center;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.1800000872;
  color: #ecf2ff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .image-3-1-iba {
  margin: 0rem 0rem 9.6rem 0.3rem;
  width: 16.4rem;
  height: 16.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-v2wk-eEL {
  margin: 0rem 6.9rem 0rem 6.3rem;
  height: 59.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-v2wk-eEL .group-9fi8-mZr {
  box-sizing: border-box;
  padding: 0.4rem 12.9rem 0rem 0rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-v2wk-eEL .group-9fi8-mZr .group-htor-Vkk {
  margin-right: 13.8rem;
  box-sizing: border-box;
  padding: 2.6rem 2.3rem 5.9rem 2.3rem;
  width: 44.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
  border-radius: 3.3rem;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-v2wk-eEL .group-9fi8-mZr .group-htor-Vkk .untitled-1-1-bon {
  margin-bottom: 3.8rem;
  width: 39.7rem;
  height: 26.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-v2wk-eEL .group-9fi8-mZr .group-htor-Vkk .vr-job-simulation-LWU {
  margin: 0rem 0.2rem 7.9rem 0rem;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1.180000074;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-v2wk-eEL .group-9fi8-mZr .group-htor-Vkk .experience-a-day-in-the-life-of-different-careers-to-get-a-picture-of-what-its-like-rDv {
  margin-right: 0.2rem;
  max-width: 34.9rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1800000668;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-v2wk-eEL .group-9fi8-mZr .group-bpsc-JLp {
  box-sizing: border-box;
  padding: 7.2rem 3.1rem 5.9rem 3rem;
  width: 44.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
  border-radius: 3.3rem;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-v2wk-eEL .group-9fi8-mZr .group-bpsc-JLp .untitled-22-1-d8C {
  margin-bottom: 4.5rem;
  width: 38.1rem;
  height: 21.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-v2wk-eEL .group-9fi8-mZr .group-bpsc-JLp .career-insights-AP2 {
  margin-bottom: 7.2rem;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1.180000074;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-v2wk-eEL .group-9fi8-mZr .group-bpsc-JLp .find-careers-that-suit-you-and-the-demand-for-these-jobs-in-the-future-6Gg {
  max-width: 35.7rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1800000668;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-v2wk-eEL .group-nync-MCc {
  width: 44.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-v2wk-eEL .group-nync-MCc .rectangle-270-uE8 {
  width: 44.3rem;
  height: 59rem;
  left: 0;
  top: 0.4rem;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
  border-radius: 3.3rem;
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-v2wk-eEL .group-nync-MCc .learn-about-a-career-from-an-experienced-individual-and-get-one-on-one-mentorship-from-them-RTN {
  width: 37.9rem;
  height: 11.4rem;
  position: absolute;
  left: 3.1rem;
  top: 45rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1800000668;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Poppins, 'Source Sans Pro';
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-v2wk-eEL .group-nync-MCc .mentorship-and-expert-talks-tbr {
  width: 20rem;
  height: 11.7rem;
  position: absolute;
  left: 12.05rem;
  top: 29.8rem;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1.180000074;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Poppins, 'Source Sans Pro';
}

.home-page-with-chat-Rma .group-fpvu-NB2 .group-v2wk-eEL .group-nync-MCc .untitled-37-1-azU {
  width: 30.4rem;
  height: 30.4rem;
  position: absolute;
  left: 7.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}

.home-page-with-chat-Rma .group-99-REQ {
  box-sizing: border-box;
  padding: 3.7rem 25.4rem 1.2rem 10rem;
  width: 100%;
  height: 26.1rem;
  position: absolute;
  top: 149.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.home-page-with-chat-Rma .group-99-REQ .pathfinderlogo-removebg-preview-2-hSp {
  margin: 0rem 33.8rem 2.4rem 0rem;
  width: 25.5rem;
  height: 5.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-99-REQ .group-gujx-pGY {
  margin: 0rem 4.75rem 4.5rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-99-REQ .group-gujx-pGY .navigate-9Zi {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1800001144;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-99-REQ .group-gujx-pGY .insights-tGQ {
  margin-bottom: 2.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1800000932;
  color: rgba(255, 255, 255, 0.8999999762);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-99-REQ .group-gujx-pGY .job-experience-27i {
  margin-bottom: 2.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1800000932;
  color: rgba(255, 255, 255, 0.8999999762);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-99-REQ .group-gujx-pGY .dashboard-xXA {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1800000932;
  color: rgba(255, 255, 255, 0.8999999762);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-99-REQ .pathfinder-Vmz {
  margin: 19.3rem 16.05rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1800000668;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-99-REQ .group-p1ct-cbi {
  margin: 0rem 23.9rem 4.5rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-99-REQ .group-p1ct-cbi .about-kxp {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1800001144;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-99-REQ .group-p1ct-cbi .about-us-uap {
  margin: 0rem 0rem 2.6rem 0.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1800000932;
  color: rgba(255, 255, 255, 0.8999999762);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-99-REQ .group-p1ct-cbi .mission-3BE {
  margin: 0rem 0rem 2.6rem 0.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1800000932;
  color: rgba(255, 255, 255, 0.8999999762);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-99-REQ .group-p1ct-cbi .vision-xZ6 {
  margin-left: 0.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1800000932;
  color: rgba(255, 255, 255, 0.8999999762);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-99-REQ .group-qjbz-gjz {
  margin: 0rem 2rem 12.2rem 0rem;
  width: 10rem;
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-99-REQ .group-qjbz-gjz .contact-Dzp {
  margin: 0rem 0rem 2.6rem 0.1rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1800001144;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.home-page-with-chat-Rma .group-99-REQ .group-qjbz-gjz .group-wquv-kjr {
  margin-right: 0.5rem;
  width: calc(100% - 0.5rem);
  display: flex;
  align-items: center;
}

.home-page-with-chat-Rma .group-99-REQ .group-qjbz-gjz .group-wquv-kjr .vector-JmN {
  margin-right: 2.3rem;
  width: 3.6rem;
  height: 4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../images/linkedin.png');
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-99-REQ .group-qjbz-gjz .group-wquv-kjr .uiw-facebook-2xG {
  margin-bottom: 0.2rem;
  width: 3.6rem;
  height: 3.6rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../images/facebook.png');
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-99-REQ .vector-MDr {
  margin-bottom: 7.5rem;
  width: 3.6rem;
  height: 3.9rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../images/instagram.png');
  flex-shrink: 0;
}

.home-page-with-chat-Rma .group-86-Gbi {
  width: 38.6rem;
  height: 57.3rem;
  position: fixed;
  right: 5rem;
  top: 75rem;
}

.home-page-with-chat-Rma .group-86-Gbi .rectangle-275-zXi {
  width: 38.6rem;
  height: 57.2rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #eef3ff;
  border-radius: 1.9rem;
}

.home-page-with-chat-Rma .group-86-Gbi .rectangle-277-hS8 {
  width: 26.5rem;
  height: 11.4rem;
  position: absolute;
  left: 9.2rem;
  top: 9.9rem;
  background-color: #e1e1e1;
  border-radius: 0.8rem;
}

.home-page-with-chat-Rma .group-86-Gbi .rectangle-276-Rd2 {
  width: 38.6rem;
  height: 8.1rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d0ceea;
  border-radius: 1.9rem 1.9rem 0 0;
}

.home-page-with-chat-Rma .group-86-Gbi .untitleddesign-removebg-preview-1-xcx {
  width: 8.1rem;
  height: 8.1rem;
  position: absolute;
  left: 3.3rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}

.home-page-with-chat-Rma .group-86-Gbi .untitleddesign-removebg-preview-4-5Sg {
  width: 6.3rem;
  height: 6.3rem;
  position: absolute;
  left: 2.7rem;
  top: 13.2rem;
  object-fit: cover;
  vertical-align: top;
}

.home-page-with-chat-Rma .group-86-Gbi .koalaai-oda {
  width: 10.1rem;
  height: 3.1rem;
  position: absolute;
  left: 12.6rem;
  top: 2.7rem;
  display: flex;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.1800000851;
  color: #433f6c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.home-page-with-chat-Rma .group-86-Gbi .ellipse-38-KM2 {
  width: 3.7rem;
  height: 3.7rem;
  cursor: pointer;
  position: absolute;
  left: 31.7rem;
  top: 2.7rem;
  background-color: #ffffff;
  border-radius: 1.85rem;
}

.home-page-with-chat-Rma .group-86-Gbi .hello-there-im-your-personal-assistant-koalaai-what-can-i-help-you-with-today-e8Q {
  width: 22.3rem;
  height: 7.6rem;
  position: absolute;
  left: 11.1rem;
  top: 11rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1800000668;
  color: #433f6c;
  font-family: Poppins, 'Source Sans Pro';
}

.home-page-with-chat-Rma .group-86-Gbi .ask-a-question-vLp {
  width: 8.9rem;
  height: 1.5rem;
  position: absolute;
  left: 6.8rem;
  top: 53.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.1800000668;
  color: #868686;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.home-page-with-chat-Rma .group-86-Gbi .line-8-stroke-qig {
  width: 38.6rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 51.5rem;
  background-color: #433f6c;
}

.home-page-with-chat-Rma .group-86-Gbi .line-9-stroke-z5n {
  width: 1.9rem;
  height: 0.1rem;
  position: absolute;
  left: 32.6rem;
  top: 4.6rem;
  background-color: #433f6c;
}

.home-page-with-chat-Rma .group-86-Gbi .mic-7RJ {
  width: 3.6rem;
  height: 3.6rem;
  position: absolute;
  left: 2.3rem;
  top: 52.5rem;
  object-fit: contain;
  vertical-align: top;
}

.home-page-with-chat-Rma .group-86-Gbi .icon-send-2YG {
  width: 2.5184rem;
  height: 2.2475rem;
  position: absolute;
  left: 32.85rem;
  top: 47.6135rem;
  object-fit: contain;
  vertical-align: top;
}