html {
  font-size: 45%;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.insights-article-oag {
  width: 100%;
  height: 529.1rem;
  position: relative;
  overflow-x: hidden;
  background-color: #ecf2ff;
}

.insights-article-oag .auto-group-tkpc-Y2U {
  box-sizing: border-box;
  padding: 4.6rem 4.6rem 9.6rem 9.6rem;
  width: 100%;
  height: 503rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.insights-article-oag .auto-group-tkpc-Y2U .group-81-cY8 {
  margin: 0rem 5.1rem 8.6rem 0rem;
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .group-81-cY8 .auto-group-bgme-j6x {
  box-sizing: border-box;
  padding: 0.4rem 6rem 0.5rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .group-81-cY8 .auto-group-bgme-j6x .pathfinderlogo-removebg-preview-4-eDv {
  margin-right: 34.2rem;
  width: 23.3rem;
  height: 5.1rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .group-81-cY8 .auto-group-bgme-j6x .content--knk {
  margin: 1rem 6.4rem 0.5rem 0rem;
  box-sizing: border-box;
  padding: 0.4rem 0.8rem;
  height: calc(100% - 1.5rem);
  display: flex;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.9300000072);
  border-radius: 1rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .group-81-cY8 .auto-group-bgme-j6x .content--knk .magnifyingglass-ZkC {
  margin-right: 7.65rem;
  width: 2.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7777777778;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: SF Pro Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .group-81-cY8 .auto-group-bgme-j6x .content--knk .placeholder-label-Dpk {
  margin-right: 26.75rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2941176471;
  letter-spacing: -0.0408rem;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: SF Pro Text, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .group-81-cY8 .auto-group-bgme-j6x .content--knk .mic-JrC {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .group-81-cY8 .auto-group-bgme-j6x .insights-1kc {
  margin: 0.6rem 8.9rem 0rem 0rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .group-81-cY8 .auto-group-bgme-j6x .experience-7Yk {
  margin: 0.4rem 9.3rem 0rem 0rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .group-81-cY8 .auto-group-bgme-j6x .mentorship-RpL {
  margin-top: 0.6rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .group-81-cY8 .image-86-MCC {
  width: 6rem;
  height: 6rem;
  position: relative;
  background-size: 100% 125%;
  background-position: 0 0;
  background-image: url('../images/dp.png');
  border-radius: 20.9rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 {
  margin-left: 1.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE {
  margin: 5.2rem 5.35rem 0rem 0rem;
  width: 118.8rem;
  height: 469rem;
  position: relative;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .rectangle-34-dZ2 {
  width: 118.8rem;
  height: 464.8rem;
  position: absolute;
  left: 0;
  top: 4.2rem;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .of-students-are-not-sure-of-what-a-software-engineer-actually-does-and-heres-the-reason-why-XPW {
  width: 98.9rem;
  height: 20.3rem;
  position: absolute;
  left: 7.9rem;
  top: 53.3rem;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .iconsax-linear-lock-wy2 {
  width: 0.9346rem;
  height: 0;
  position: absolute;
  left: 19.6327rem;
  top: 468.0667rem;
  object-fit: contain;
  vertical-align: top;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .image-26-4Gx {
  width: 118.8rem;
  height: 49.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .mhA {
  width: 103rem;
  height: 278.1rem;
  position: absolute;
  left: 7.9rem;
  top: 87.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.875;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .mhA .mhA-sub-0 {
  font-size: 2rem;
  font-weight: 400;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .mhA .mhA-sub-1 {}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .mhA .mhA-sub-2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.875;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .mhA .mhA-sub-3 {
  font-size: 2rem;
  font-weight: 400;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .mhA .mhA-sub-4 {}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .mhA .mhA-sub-5 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.875;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .mhA .mhA-sub-6 {
  font-size: 2rem;
  font-weight: 400;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .mhA .mhA-sub-7 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.9550001144;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .mhA .mhA-sub-8 {}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .mhA .mhA-sub-9 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .mhA .mhA-sub-10 {
  font-size: 2rem;
  font-weight: 400;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .mhA .mhA-sub-11 {}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .mhA .mhA-sub-12 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .mhA .mhA-sub-13 {}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .mhA .mhA-sub-14 {
  font-size: 2rem;
  font-weight: 400;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .xortiv-sdn-bhd-oWY {
  width: 12.7rem;
  height: 2.7rem;
  position: absolute;
  left: 15.3rem;
  top: 80.5rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .m-read-5yr {
  width: 6.8rem;
  height: 2.3rem;
  position: absolute;
  left: 31rem;
  top: 81.2rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .dohn-joe-zqv {
  width: 13.3rem;
  height: 4.2rem;
  position: absolute;
  left: 15.3rem;
  top: 76.7rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .image-30-Jrc {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 5.7rem;
  top: 76.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7.2rem;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .d-ago-csJ {
  width: 6.4rem;
  height: 2.7rem;
  position: absolute;
  left: 31rem;
  top: 77.8rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .rectangle-47-XDa {
  width: 20rem;
  height: 3.2rem;
  position: absolute;
  left: 43rem;
  top: 79.5rem;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  background-color: #ffd9d9;
  border-radius: 3.5rem;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .computer-science-CqW {
  width: 14.9rem;
  height: 2.4rem;
  position: absolute;
  left: 44.8rem;
  top: 79.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .rectangle-48-JNk {
  width: 21.1rem;
  height: 3.2rem;
  position: absolute;
  left: 64.2rem;
  top: 79.5rem;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  background-color: #ffd9d9;
  border-radius: 3.5rem;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .software-engineering-bMr {
  width: 17rem;
  height: 2.4rem;
  position: absolute;
  left: 66.4rem;
  top: 80rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .group-82-fcc {
  width: 22.5rem;
  height: 2.364rem;
  position: absolute;
  left: 71.3rem;
  top: 69.5rem;
  display: flex;
  align-items: center;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .group-82-fcc .icon-share-A3a {
  margin-right: 1.8487rem;
  width: 2.2756rem;
  height: 2.364rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .group-82-fcc .icon-facebook-GMW {
  margin: 0rem 1.849rem 0rem 0rem;
  width: 2.2756rem;
  height: 2.364rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .group-82-fcc .icon-instagram-fill-NfS {
  margin: 0rem 1.849rem 0rem 0rem;
  width: 2.2756rem;
  height: 2.364rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .group-82-fcc .icon-twitter-square-65e {
  margin: 0rem 1.849rem 0rem 0rem;
  width: 2.2756rem;
  height: 2.364rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .group-82-fcc .icon-social-linkedin-yv8 {
  margin: 0rem 2.133rem 0rem 0rem;
  width: 2.2756rem;
  height: 2.364rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-juxy-kVE .group-82-fcc .icon-bookmark-save-VtU {
  margin-bottom: 0rem;
  width: 1.593rem;
  height: 2.364rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.15rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-12-wEg {
  margin-bottom: 7.65rem;
  box-sizing: border-box;
  padding: 5.079rem 3.8rem 3.25rem 3.8rem;
  width: 51.6rem;
  box-shadow: 0 0 15.3rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
  border-radius: 1.9rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-12-wEg .group-12-32p {
  margin-bottom: 2.9rem;
  width: 39.8502rem;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-12-wEg .group-12-32p .group-10-mzQ {
  margin: 0rem 8.402rem 3.321rem 0rem;
  width: calc(100% - 8.4021rem);
  height: 10.8rem;
  display: flex;
  align-items: center;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-12-wEg .group-12-32p .group-10-mzQ .ellipse-6-tJL {
  margin-right: 3.1502rem;
  width: 10.8rem;
  height: 10.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/dohn-joe.png');
  border-radius: 5.4rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-12-wEg .group-12-32p .group-10-mzQ .auto-group-ntlg-NzC {
  margin: 2.121rem 0rem 1.479rem 0rem;
  height: calc(100% - 3.6rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-12-wEg .group-12-32p .group-10-mzQ .auto-group-ntlg-NzC .dohn-joe-VZ2 {
  margin-bottom: 0.3rem;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-12-wEg .group-12-32p .group-10-mzQ .auto-group-ntlg-NzC .therealdohnjoe-p5W {
  margin-left: 0.2979rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-12-wEg .group-12-32p .i-am-a-software-engineer-from-xortiv-sdn-bhd-looking-to-share-a-little-bit-of-goodness-every-day-through-daily-computer-science-tips-veL {
  margin-left: 0.0502rem;
  max-width: 39.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-12-wEg .auto-group-k6fi-aD6 {
  margin: 0rem 14.45rem 0rem 0.25rem;
  width: calc(100% - 14.7004rem);
  height: 6rem;
  display: flex;
  align-items: center;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-12-wEg .auto-group-k6fi-aD6 .auto-group-9r96-5vY {
  margin-right: 3.8rem;
  width: 19.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5949999491;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #345d91;
  border-radius: 3.7rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-12-wEg .auto-group-k6fi-aD6 .auto-group-p1ng-jkC {
  box-sizing: border-box;
  padding: 1.6rem 1.9rem 1.5rem 1.9rem;
  height: 100%;
  background-color: #345d91;
  border-radius: 3.7rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-12-wEg .auto-group-k6fi-aD6 .auto-group-p1ng-jkC .vector-f84 {
  width: 2.2rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-13-w5a {
  margin: 0rem 0rem 8rem 0.3rem;
  box-sizing: border-box;
  padding: 5rem 5.574rem 3.2rem 3.826rem;
  width: 51.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15.3rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
  border-radius: 1.9rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-13-w5a .group-12-pQG {
  margin-bottom: 4.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-13-w5a .group-12-pQG .group-10-NAt {
  margin: 0rem 7.476rem 3.4rem 0.024rem;
  width: calc(100% - 7.5rem);
  height: 10.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-13-w5a .group-12-pQG .group-10-NAt .clip-path-group-FVa {
  margin-right: 3rem;
  width: 10.8rem;
  height: 10.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-13-w5a .group-12-pQG .group-10-NAt .auto-group-5ij2-a24 {
  margin: 3.5rem 0rem 2.3rem 0rem;
  height: calc(100% - 5.8rem);
  display: flex;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-13-w5a .group-12-pQG .xortiv-specializes-in-designing-and-developing-automated-vision-inspection-system-and-equipment-testers-for-the-semiconductor-and-electronic-packaging-industries-as-well-as-electronic-communications-equipment-EcQ {
  max-width: 41.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-13-w5a .auto-group-dwjx-rtg {
  margin: 0rem 12.376rem 0rem 0.224rem;
  width: calc(100% - 12.6rem);
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-13-w5a .auto-group-dwjx-rtg .auto-group-rgxs-yCc {
  margin-right: 3.8rem;
  width: 19.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5949999491;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #345d91;
  border-radius: 3.7rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-13-w5a .auto-group-dwjx-rtg .auto-group-m3ct-qkc {
  box-sizing: border-box;
  padding: 1.5rem 1.9rem 1.6rem 1.9rem;
  height: 100%;
  background-color: #345d91;
  border-radius: 3.7rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .group-13-w5a .auto-group-dwjx-rtg .auto-group-m3ct-qkc .vector-meG {
  width: 2.2rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC {
  margin-left: 0.75rem;
  box-sizing: border-box;
  padding: 2.2rem 3.2rem 4rem 3.3rem;
  width: 51.8rem;
  height: 91.9rem;
  box-shadow: 0 0.4rem 15rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
  border-radius: 1.8rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-dg4g-VTn {
  box-sizing: border-box;
  padding: 0rem 0rem 5rem 0.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-dg4g-VTn .more-from-D8t {
  margin-bottom: 1.1471rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-dg4g-VTn .auto-group-dvba-wag {
  margin-bottom: 5.8931rem;
  width: 28.2694rem;
  height: 4.6598rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  background-color: #ffd9d9;
  border-radius: 3.5rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-dg4g-VTn .auto-group-gfnx-BV2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-dg4g-VTn .auto-group-gfnx-BV2 .auto-group-kutw-wDJ {
  margin: 0.3rem 2rem 0rem 0rem;
  width: 27.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-dg4g-VTn .auto-group-gfnx-BV2 .auto-group-kutw-wDJ .auto-group-dekg-Svk {
  margin-bottom: 1.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-dg4g-VTn .auto-group-gfnx-BV2 .auto-group-kutw-wDJ .auto-group-dekg-Svk .image-33-nUp {
  margin-right: 0.9258rem;
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7.2rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-dg4g-VTn .auto-group-gfnx-BV2 .auto-group-kutw-wDJ .auto-group-dekg-Svk .dohn-joe-h5z {
  margin: 0rem 2.574rem 0.228rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-dg4g-VTn .auto-group-gfnx-BV2 .auto-group-kutw-wDJ .auto-group-dekg-Svk .xortiv-sdn-bhd-oep {
  margin-top: 0.7rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-dg4g-VTn .auto-group-gfnx-BV2 .auto-group-kutw-wDJ .how-you-can-make-chatgpt-at-home-now-KdA {
  margin-right: 0.5rem;
  max-width: 26rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4700000551;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-dg4g-VTn .auto-group-gfnx-BV2 .image-34-q5i {
  width: 16.1rem;
  height: 12.7rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.3rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-af5j-xRE {
  margin-bottom: 4.7rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-af5j-xRE .auto-group-axac-JEC {
  margin-right: 2rem;
  width: 27.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-af5j-xRE .auto-group-axac-JEC .auto-group-1h6g-qE8 {
  margin-bottom: 0.4763rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-af5j-xRE .auto-group-axac-JEC .auto-group-1h6g-qE8 .image-35-AXJ {
  margin-right: 1.0258rem;
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7.2rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-af5j-xRE .auto-group-axac-JEC .auto-group-1h6g-qE8 .dohn-joe-tTJ {
  margin: 0rem 2.574rem 0.235rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-af5j-xRE .auto-group-axac-JEC .auto-group-1h6g-qE8 .xortiv-sdn-bhd-oaG {
  margin-top: 0.7rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-af5j-xRE .auto-group-axac-JEC .why-you-should-start-coding-right-now-even-if-you-arent-planning-to-take-a-vet {
  margin-right: 0.3787rem;
  max-width: 26rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4700000551;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-af5j-xRE .image-36-oig {
  margin-top: 1.4rem;
  width: 16.1rem;
  height: 12.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.3rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-vwel-j6Y {
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-vwel-j6Y .auto-group-edjx-UK2 {
  margin: 0rem 2rem 0.753rem 0rem;
  width: 27.2rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-vwel-j6Y .auto-group-edjx-UK2 .auto-group-yztw-nac {
  margin-bottom: 1.1474rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-vwel-j6Y .auto-group-edjx-UK2 .auto-group-yztw-nac .image-37-ufE {
  margin-right: 1.0258rem;
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7.2rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-vwel-j6Y .auto-group-edjx-UK2 .auto-group-yztw-nac .dohn-joe-okc {
  margin: 0rem 2.574rem 0.135rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-vwel-j6Y .auto-group-edjx-UK2 .auto-group-yztw-nac .xortiv-sdn-bhd-HQt {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-vwel-j6Y .auto-group-edjx-UK2 .lets-talk-about-the-future-of-computer-science-job-opportunities-NhE {
  margin-left: 0.4106rem;
  max-width: 25rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4700000551;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-vwel-j6Y .image-38-fgL {
  width: 16.1rem;
  height: 12.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.3rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-gpbe-ywv {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-gpbe-ywv .auto-group-bufn-vsA {
  margin-right: 2rem;
  width: 27.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-gpbe-ywv .auto-group-bufn-vsA .auto-group-urqv-FuS {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-gpbe-ywv .auto-group-bufn-vsA .auto-group-urqv-FuS .image-41-Q1e {
  margin-right: 1.0258rem;
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7.2rem;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-gpbe-ywv .auto-group-bufn-vsA .auto-group-urqv-FuS .dohn-joe-j3v {
  margin: 0rem 2.574rem 0.125rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-gpbe-ywv .auto-group-bufn-vsA .auto-group-urqv-FuS .xortiv-sdn-bhd-qck {
  margin-top: 0.7rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-gpbe-ywv .auto-group-bufn-vsA .front-end-vs-back-end-what-is-the-difference-Y1N {
  max-width: 26.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4700000551;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}

.insights-article-oag .auto-group-tkpc-Y2U .auto-group-nnwj-E16 .auto-group-osxz-o8U .auto-group-fnlx-TGC .group-83-kWC .auto-group-gpbe-ywv .image-40-c1E {
  margin-top: 1.3rem;
  width: 16.1rem;
  height: 12.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.3rem;
  flex-shrink: 0;
}

.insights-article-oag .group-99-nZv {
  box-sizing: border-box;
  padding: 3.7rem 25.4rem 1.2rem 10rem;
  width: 100%;
  height: 26.1rem;
  position: absolute;
  left: 0;
  top: 503rem;
  display: flex;
  align-items: center;
  background-color: #423e6c;
  justify-content: center;
}

.insights-article-oag .group-99-nZv .pathfinderlogo-removebg-preview-2-TAG {
  margin: 0rem 33.8rem 2.4rem 0rem;
  width: 25.5rem;
  height: 5.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.insights-article-oag .group-99-nZv .auto-group-8fag-YSc {
  margin: 0rem 4.75rem 4.5rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.insights-article-oag .group-99-nZv .auto-group-8fag-YSc .navigate-fXE {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1800001144;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .group-99-nZv .auto-group-8fag-YSc .insights-Pi8 {
  margin-bottom: 2.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1800000932;
  color: rgba(255, 255, 255, 0.8999999762);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .group-99-nZv .auto-group-8fag-YSc .job-experience-vCG {
  margin-bottom: 2.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1800000932;
  color: rgba(255, 255, 255, 0.8999999762);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .group-99-nZv .auto-group-8fag-YSc .dashboard-dsN {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1800000932;
  color: rgba(255, 255, 255, 0.8999999762);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .group-99-nZv .pathfinder-mCt {
  margin: 19.3rem 16.05rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1800000668;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .group-99-nZv .auto-group-kytx-1d2 {
  margin: 0rem 23.9rem 4.5rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.insights-article-oag .group-99-nZv .auto-group-kytx-1d2 .about-XLU {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1800001144;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .group-99-nZv .auto-group-kytx-1d2 .about-us-evt {
  margin: 0rem 0rem 2.6rem 0.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1800000932;
  color: rgba(255, 255, 255, 0.8999999762);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .group-99-nZv .auto-group-kytx-1d2 .mission-xwa {
  margin: 0rem 0rem 2.6rem 0.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1800000932;
  color: rgba(255, 255, 255, 0.8999999762);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .group-99-nZv .auto-group-kytx-1d2 .vision-g6t {
  margin-left: 0.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1800000932;
  color: rgba(255, 255, 255, 0.8999999762);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-oag .group-99-nZv .auto-group-9ga4-oSQ {
  margin: 0rem 2rem 12.2rem 0rem;
  width: 10rem;
  flex-shrink: 0;
}

.insights-article-oag .group-99-nZv .auto-group-9ga4-oSQ .contact-7hz {
  margin: 0rem 0rem 2.6rem 0.1rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1800001144;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.insights-article-oag .group-99-nZv .auto-group-9ga4-oSQ .auto-group-dcdv-Enc {
  margin-right: 0.5rem;
  width: calc(100% - 0.5rem);
  display: flex;
  align-items: center;
}

.insights-article-oag .group-99-nZv .auto-group-9ga4-oSQ .auto-group-dcdv-Enc .vector-yEQ {
  margin-right: 2.3rem;
  width: 3.6rem;
  height: 4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../images/linkedin.png');
  flex-shrink: 0;
}

.insights-article-oag .group-99-nZv .auto-group-9ga4-oSQ .auto-group-dcdv-Enc .uiw-facebook-5HS {
  margin-bottom: 0.2rem;
  width: 3.6rem;
  height: 3.6rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../images/facebook.png');
  flex-shrink: 0;
}

.insights-article-oag .group-99-nZv .vector-ydi {
  margin-bottom: 7.5rem;
  width: 3.6rem;
  height: 3.9rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../images/instagram.png');
  flex-shrink: 0;
}

.insights-article-oag .bi-arrow-left-square-fill-tEt {
  width: 6rem;
  height: 6rem;
  position: absolute;
  left: 7.7rem;
  top: 14.1rem;
  object-fit: contain;
  vertical-align: top;
}

a {
  text-decoration: none;
}