html {
  font-size: 45%;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.insights-article-8-inc {
  width: 100%;
  height: 410.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ecf2ff;
}

.insights-article-8-inc .group-3dbv-YWk {
  box-sizing: border-box;
  padding: 4.6rem 4.6rem 7.3rem 9.6rem;
  width: 100%;
  height: 384.3rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.insights-article-8-inc .group-3dbv-YWk .group-81-Uoi {
  margin: 0rem 5.1rem 8.6rem 0rem;
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-81-Uoi .group-g6d6-Yoa {
  box-sizing: border-box;
  padding: 0.4rem 6rem 0.5rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-81-Uoi .group-g6d6-Yoa .pathfinderlogo-removebg-preview-4-Nnc {
  margin-right: 34.2rem;
  width: 23.3rem;
  height: 5.1rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-81-Uoi .group-g6d6-Yoa .content--D2Y {
  margin: 1rem 6.4rem 0.5rem 0rem;
  box-sizing: border-box;
  padding: 0.4rem 0.8rem;
  height: calc(100% - 1.5rem);
  display: flex;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.9300000072);
  border-radius: 1rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-81-Uoi .group-g6d6-Yoa .content--D2Y .magnifyingglass-xeL {
  margin-right: 7.65rem;
  width: 2.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7777777778;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: SF Pro Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-81-Uoi .group-g6d6-Yoa .content--D2Y .placeholder-label-eBi {
  margin-right: 26.75rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2941176471;
  letter-spacing: -0.0408rem;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: SF Pro Text, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-81-Uoi .group-g6d6-Yoa .content--D2Y .mic-E9v {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-81-Uoi .group-g6d6-Yoa .insights-5gL {
  margin: 0.6rem 8.9rem 0rem 0rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-81-Uoi .group-g6d6-Yoa .experience-JZ6 {
  margin: 0.4rem 9.3rem 0rem 0rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-81-Uoi .group-g6d6-Yoa .mentorship-aWc {
  margin-top: 0.6rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-81-Uoi .image-86-Ubz {
  width: 6rem;
  height: 6rem;
  position: relative;
  background-size: 100% 125%;
  background-position: 0 0;
  background-image: url('../images/dp.png');
  border-radius: 20.9rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE {
  margin-left: 1.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k {
  margin: 5.2rem 5.35rem 0rem 0rem;
  width: 118.8rem;
  height: 352.6rem;
  position: relative;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .rectangle-34-cVE {
  width: 118.8rem;
  height: 348.4rem;
  position: absolute;
  left: 0;
  top: 4.2rem;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .heres-an-easy-way-to-remember-debit-vs-credit-when-doing-accounting-so-you-would-never-have-a-problem-again-dv8 {
  width: 101rem;
  height: 20.3rem;
  position: absolute;
  left: 7.6rem;
  top: 51.8rem;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .image-44-ayn {
  width: 118.8rem;
  height: 48.3rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY {
  width: 102.9rem;
  height: 236.3rem;
  position: absolute;
  left: 7.9rem;
  top: 87.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.875;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-0 {}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-2 {}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-3 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-4 {}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-5 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-6 {}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-7 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.875;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-8 {}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-9 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.875;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-10 {}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-11 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.875;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-12 {}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-13 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.875;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-14 {}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-15 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.875;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-16 {}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-17 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.875;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-18 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .EYY .EYY-sub-19 {}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .bimc-sdn-bhd-F28 {
  width: 12.9rem;
  height: 2.7rem;
  position: absolute;
  left: 15.3rem;
  top: 80.5rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .m-read-3Tn {
  width: 6.8rem;
  height: 2.3rem;
  position: absolute;
  left: 31rem;
  top: 81.2rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .sary-mue-sBv {
  width: 13.2rem;
  height: 4.2rem;
  position: absolute;
  left: 15.3rem;
  top: 76.7rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .dalle-2023-03-13-1429-1-Vyz {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 5.7rem;
  top: 76.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 27.3rem;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .d-ago-ZDA {
  width: 6.4rem;
  height: 2.7rem;
  position: absolute;
  left: 31rem;
  top: 77.8rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .rectangle-47-Mui {
  width: 20rem;
  height: 3.2rem;
  position: absolute;
  left: 43rem;
  top: 79.5rem;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  background-color: #d9e1ff;
  border-radius: 3.5rem;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .accounting-C9e {
  width: 9.2rem;
  height: 2.4rem;
  position: absolute;
  left: 48.6rem;
  top: 79.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .rectangle-48-B1a {
  width: 21.1rem;
  height: 3.2rem;
  position: absolute;
  left: 64.2rem;
  top: 79.5rem;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  background-color: #dadada;
  border-radius: 3.5rem;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .learning-insights-pqE {
  width: 13.5rem;
  height: 2.4rem;
  position: absolute;
  left: 68.15rem;
  top: 80rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .group-92-pTr {
  width: 22.5rem;
  height: 2.364rem;
  position: absolute;
  left: 65.4rem;
  top: 73.6rem;
  display: flex;
  align-items: center;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .group-92-pTr .icon-share-RyS {
  margin-right: 1.8487rem;
  width: 2.2756rem;
  height: 2.364rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .group-92-pTr .icon-facebook-iBr {
  margin-right: 1.8491rem;
  width: 2.2756rem;
  height: 2.364rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .group-92-pTr .icon-instagram-fill-zv4 {
  margin-right: 1.849rem;
  width: 2.2756rem;
  height: 2.364rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .group-92-pTr .icon-twitter-square-2rk {
  margin-right: 1.8488rem;
  width: 2.2756rem;
  height: 2.364rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .group-92-pTr .icon-social-linkedin-vBS {
  margin-right: 2.1334rem;
  width: 2.2756rem;
  height: 2.364rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-oadn-a2k .group-92-pTr .icon-bookmark-save-QcQ {
  width: 1.593rem;
  height: 2.364rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.15rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-12-Mvx {
  margin-bottom: 7.65rem;
  box-sizing: border-box;
  padding: 5.1rem 5.05rem 3.25rem 3.85rem;
  width: 51.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15.3rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
  border-radius: 1.9rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-12-Mvx .group-12-1Ep {
  margin-bottom: 6.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 27.3rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-12-Mvx .group-12-1Ep .group-10-8aL {
  margin: 0rem 9.849rem 3.3rem 0rem;
  box-sizing: border-box;
  padding-right: 4.0535rem;
  width: calc(100% - 9.8487rem);
  height: 10.8rem;
  display: flex;
  align-items: center;
  border-radius: 27.3rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-12-Mvx .group-12-1Ep .group-10-8aL .dalle-2023-03-13-1429-1-kLp {
  margin-right: 3.1rem;
  width: 10.8rem;
  height: 10.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 27.3rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-12-Mvx .group-12-1Ep .group-10-8aL .group-z4xg-opt {
  margin: 2.1rem 0rem 1.5rem 0rem;
  height: calc(100% - 3.6rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-12-Mvx .group-12-1Ep .group-10-8aL .group-z4xg-opt .sary-mue-UAL {
  margin-bottom: 0.3rem;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-12-Mvx .group-12-1Ep .group-10-8aL .group-z4xg-opt .iamsarymue-X8c {
  margin-left: 0.2978rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-12-Mvx .group-12-1Ep .i-am-currently-working-at-hilti-malaysia-as-technical-business-analyst-specializing-in-data-analytics-aMn {
  max-width: 37.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-12-Mvx .group-ffkl-zgQ {
  margin: 0rem 13.2rem 0rem 0.2rem;
  width: calc(100% - 13.4rem);
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-12-Mvx .group-ffkl-zgQ .group-eqnl-pvL {
  margin-right: 3.8rem;
  width: 19.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5949999491;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #345d91;
  border-radius: 3.7rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-12-Mvx .group-ffkl-zgQ .group-7acq-Prx {
  box-sizing: border-box;
  padding: 1.5rem 1.9rem 1.6rem 1.9rem;
  height: 100%;
  background-color: #345d91;
  border-radius: 3.7rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-12-Mvx .group-ffkl-zgQ .group-7acq-Prx .vector-tYp {
  width: 2.2rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-13-uip {
  margin: 0rem 0rem 8rem 0.3rem;
  box-sizing: border-box;
  padding: 5rem 3.274rem 3.2rem 3.826rem;
  width: 51.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15.3rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
  border-radius: 1.9rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-13-uip .group-12-igG {
  margin-bottom: 8.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-13-uip .group-12-igG .group-10-3Ck {
  margin: 0rem 9.576rem 3.4rem 0.024rem;
  width: calc(100% - 9.6rem);
  height: 10.7997rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-13-uip .group-12-igG .group-10-3Ck .clip-path-group-XNp {
  margin-right: 3rem;
  width: 10.8rem;
  height: 10.7997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-13-uip .group-12-igG .group-10-3Ck .group-b8lg-9f6 {
  margin: 3.5rem 0rem 2.3rem 0rem;
  height: calc(100% - 5.7997rem);
  display: flex;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-13-uip .group-12-igG .ocdc-sdn-bhd-is-a-trusted-financial-institution-that-offers-a-range-of-banking-services-including-savings-accounts-loans-and-investments-we-prioritize-security-and-excellence-in-customer-service-W8G {
  max-width: 44.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-13-uip .group-vktc-GFr {
  margin: 0rem 14.676rem 0rem 0.224rem;
  width: calc(100% - 14.9rem);
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-13-uip .group-vktc-GFr .group-dh4k-9Ke {
  margin-right: 3.8rem;
  width: 19.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5949999491;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #345d91;
  border-radius: 3.7rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-13-uip .group-vktc-GFr .group-cr7r-V28 {
  box-sizing: border-box;
  padding: 1.4rem 1.9rem 1.7rem 1.9rem;
  height: 100%;
  background-color: #345d91;
  border-radius: 3.7rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-13-uip .group-vktc-GFr .group-cr7r-V28 .vector-apG {
  width: 2.2rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc {
  margin-left: 0.75rem;
  box-sizing: border-box;
  padding: 2.2rem 3.2rem 4rem 3.3rem;
  width: 51.8rem;
  height: 91.9rem;
  box-shadow: 0 0.4rem 15rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
  border-radius: 1.8rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-h4tp-6Jk {
  box-sizing: border-box;
  padding: 0rem 0rem 5rem 0.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-h4tp-6Jk .more-from-B5J {
  margin-bottom: 1.1471rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-h4tp-6Jk .group-qqa4-UKJ {
  margin-bottom: 5.8932rem;
  width: 28.2694rem;
  height: 4.6598rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  background-color: #d9e1ff;
  border-radius: 3.5rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-h4tp-6Jk .group-s8w4-1iY {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-h4tp-6Jk .group-s8w4-1iY .group-inki-7Wg {
  margin: 0.3rem 2rem 0rem 0rem;
  width: 27.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-h4tp-6Jk .group-s8w4-1iY .group-inki-7Wg .group-7vwi-bgk {
  margin-bottom: 1.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-h4tp-6Jk .group-s8w4-1iY .group-inki-7Wg .group-7vwi-bgk .image-33-iWU {
  margin-right: 0.9258rem;
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7.2rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-h4tp-6Jk .group-s8w4-1iY .group-inki-7Wg .group-7vwi-bgk .dohn-joe-PsW {
  margin: 0rem 2.574rem 0.228rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-h4tp-6Jk .group-s8w4-1iY .group-inki-7Wg .group-7vwi-bgk .xortiv-sdn-bhd-EdE {
  margin-top: 0.7rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-h4tp-6Jk .group-s8w4-1iY .group-inki-7Wg .how-you-can-make-chatgpt-at-home-now-iHW {
  margin-right: 0.5rem;
  max-width: 26rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4700000551;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-h4tp-6Jk .group-s8w4-1iY .image-34-aac {
  width: 16.1rem;
  height: 12.7rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.3rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-9hlc-Scp {
  margin-bottom: 4.7rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-9hlc-Scp .group-dbwg-m9J {
  margin-right: 2rem;
  width: 27.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-9hlc-Scp .group-dbwg-m9J .group-77ep-UZW {
  margin-bottom: 0.4763rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-9hlc-Scp .group-dbwg-m9J .group-77ep-UZW .image-35-ABS {
  margin-right: 1.0258rem;
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7.2rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-9hlc-Scp .group-dbwg-m9J .group-77ep-UZW .dohn-joe-ecQ {
  margin: 0rem 2.574rem 0.235rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-9hlc-Scp .group-dbwg-m9J .group-77ep-UZW .xortiv-sdn-bhd-jdr {
  margin-top: 0.7rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-9hlc-Scp .group-dbwg-m9J .why-you-should-start-coding-right-now-even-if-you-arent-planning-to-take-a-n6L {
  margin-right: 0.3787rem;
  max-width: 26rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4700000551;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-9hlc-Scp .image-36-DBe {
  margin-top: 1.4rem;
  width: 16.1rem;
  height: 12.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.3rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-zvmn-6FS {
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-zvmn-6FS .group-gqje-R2p {
  margin: 0rem 2rem 0.753rem 0rem;
  width: 27.2rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-zvmn-6FS .group-gqje-R2p .group-szc8-4rU {
  margin-bottom: 1.1475rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-zvmn-6FS .group-gqje-R2p .group-szc8-4rU .image-37-nGg {
  margin-right: 1.0258rem;
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7.2rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-zvmn-6FS .group-gqje-R2p .group-szc8-4rU .dohn-joe-5Wg {
  margin: 0rem 2.574rem 0.135rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-zvmn-6FS .group-gqje-R2p .group-szc8-4rU .xortiv-sdn-bhd-vGQ {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-zvmn-6FS .group-gqje-R2p .lets-talk-about-the-future-of-computer-science-job-opportunities-cf2 {
  margin-left: 0.4106rem;
  max-width: 25rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4700000551;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-zvmn-6FS .image-38-rZN {
  width: 16.1rem;
  height: 12.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.3rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-icdw-irU {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-icdw-irU .group-xlpq-3tk {
  margin-right: 2rem;
  width: 27.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-icdw-irU .group-xlpq-3tk .group-rspl-m44 {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-icdw-irU .group-xlpq-3tk .group-rspl-m44 .image-41-GmW {
  margin-right: 1.0258rem;
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7.2rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-icdw-irU .group-xlpq-3tk .group-rspl-m44 .dohn-joe-vr4 {
  margin: 0rem 2.574rem 0.125rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-icdw-irU .group-xlpq-3tk .group-rspl-m44 .xortiv-sdn-bhd-cit {
  margin-top: 0.7rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-icdw-irU .group-xlpq-3tk .front-end-vs-back-end-what-is-the-difference-WpG {
  max-width: 26.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4700000551;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}

.insights-article-8-inc .group-3dbv-YWk .group-sbha-sPE .group-q4cg-F7E .group-i1h2-yLc .group-83-E1e .group-icdw-irU .image-40-Z1r {
  margin-top: 1.3rem;
  width: 16.1rem;
  height: 12.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.3rem;
  flex-shrink: 0;
}

.insights-article-8-inc .iconsax-linear-lock-ujv {
  width: 0.9346rem;
  height: 0;
  position: absolute;
  left: 30.3327rem;
  top: 492.4667rem;
  object-fit: contain;
  vertical-align: top;
}

.insights-article-8-inc .group-104-kEk {
  box-sizing: border-box;
  padding: 3.7rem 25.4rem 1.2rem 10rem;
  width: 100%;
  height: 26.1rem;
  position: absolute;
  left: 0;
  top: 384.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #423e6c;
}

.insights-article-8-inc .group-104-kEk .pathfinderlogo-removebg-preview-2-m9r {
  margin: 0rem 33.8rem 2.4rem 0rem;
  width: 25.5rem;
  height: 5.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.insights-article-8-inc .group-104-kEk .group-cdwv-b8t {
  margin: 0rem 4.75rem 4.5rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.insights-article-8-inc .group-104-kEk .group-cdwv-b8t .navigate-ss6 {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1800001144;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-104-kEk .group-cdwv-b8t .insights-yQL {
  margin-bottom: 2.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1800000932;
  color: rgba(255, 255, 255, 0.8999999762);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-104-kEk .group-cdwv-b8t .job-experience-39J {
  margin-bottom: 2.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1800000932;
  color: rgba(255, 255, 255, 0.8999999762);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-104-kEk .group-cdwv-b8t .dashboard-jXv {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1800000932;
  color: rgba(255, 255, 255, 0.8999999762);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-104-kEk .pathfinder-2X2 {
  margin: 19.3rem 16.05rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1800000668;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-104-kEk .group-p7gc-QXa {
  margin: 0rem 23.9rem 4.5rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.insights-article-8-inc .group-104-kEk .group-p7gc-QXa .about-UXS {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1800001144;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-104-kEk .group-p7gc-QXa .about-us-LJk {
  margin: 0rem 0rem 2.6rem 0.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1800000932;
  color: rgba(255, 255, 255, 0.8999999762);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-104-kEk .group-p7gc-QXa .mission-Q3i {
  margin: 0rem 0rem 2.6rem 0.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1800000932;
  color: rgba(255, 255, 255, 0.8999999762);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-104-kEk .group-p7gc-QXa .vision-Sm6 {
  margin-left: 0.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1800000932;
  color: rgba(255, 255, 255, 0.8999999762);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.insights-article-8-inc .group-104-kEk .group-ape8-XGk {
  margin: 0rem 2rem 12.2rem 0rem;
  width: 10rem;
  flex-shrink: 0;
}

.insights-article-8-inc .group-104-kEk .group-ape8-XGk .contact-DQU {
  margin: 0rem 0rem 2.6rem 0.1rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1800001144;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.insights-article-8-inc .group-104-kEk .group-ape8-XGk .group-jwfe-fXN {
  margin-right: 0.5rem;
  width: calc(100% - 0.5rem);
  display: flex;
  align-items: center;
}

.insights-article-8-inc .group-104-kEk .group-ape8-XGk .group-jwfe-fXN .vector-yY4 {
  margin-right: 2.3rem;
  width: 3.6rem;
  height: 4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../images/linkedin.png');
  flex-shrink: 0;
}

.insights-article-8-inc .group-104-kEk .group-ape8-XGk .group-jwfe-fXN .uiw-facebook-328 {
  margin-bottom: 0.2rem;
  width: 3.6rem;
  height: 3.6rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../images/facebook.png');
  flex-shrink: 0;
}

.insights-article-8-inc .group-104-kEk .vector-HKn {
  margin-bottom: 7.5rem;
  width: 3.6rem;
  height: 3.9rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../images/instagram.png');
  flex-shrink: 0;
}

.insights-article-8-inc .bi-arrow-left-square-fill-fr8 {
  width: 6rem;
  height: 6rem;
  position: absolute;
  left: 7.7rem;
  top: 14.1rem;
  object-fit: contain;
  vertical-align: top;
}

a {
  text-decoration: none;
}