html {
  font-size: 45%;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
}

.talk-questions-Vd2 {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: #ffffff;
}

.talk-questions-Vd2 .group-59-on8 {
  box-sizing: border-box;
  padding: 3.9rem 0rem 6rem 0.15rem;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ecf2ff;
}

.talk-questions-Vd2 .group-59-on8 .group-luxa-Sq6 {
  margin: 0rem 9.7rem 3.1rem 9.45rem;
  box-sizing: border-box;
  padding-top: 0.8rem;
  width: calc(100% - 19.15rem);
  height: 6.8rem;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-luxa-Sq6 .group-80-JsJ {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.talk-questions-Vd2 .group-59-on8 .group-luxa-Sq6 .group-80-JsJ .group-httt-zk8 {
  box-sizing: border-box;
  padding: 0.4rem 6rem 0.5rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-luxa-Sq6 .group-80-JsJ .group-httt-zk8 .pathfinderlogo-removebg-preview-4-UvC {
  margin-right: 34.2rem;
  width: 23.3rem;
  height: 5.1rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-luxa-Sq6 .group-80-JsJ .group-httt-zk8 .content--xqN {
  margin: 1rem 6.4rem 0.5rem 0rem;
  box-sizing: border-box;
  padding: 0.4rem 0.8rem;
  height: calc(100% - 1.5rem);
  display: flex;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.9300000072);
  border-radius: 1rem;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-luxa-Sq6 .group-80-JsJ .group-httt-zk8 .content--xqN .magnifyingglass-t6k {
  margin-right: 7.65rem;
  width: 2.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7777777778;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: SF Pro Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-luxa-Sq6 .group-80-JsJ .group-httt-zk8 .content--xqN .placeholder-label-SnU {
  margin-right: 26.75rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2941176471;
  letter-spacing: -0.0408rem;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: SF Pro Text, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-luxa-Sq6 .group-80-JsJ .group-httt-zk8 .content--xqN .mic-6ME {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-luxa-Sq6 .group-80-JsJ .group-httt-zk8 .insights-8Yp {
  margin: 0.6rem 8.9rem 0rem 0rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-luxa-Sq6 .group-80-JsJ .group-httt-zk8 .experience-PUk {
  margin: 0.4rem 9.3rem 0rem 0rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-luxa-Sq6 .group-80-JsJ .group-httt-zk8 .mentorship-TzQ {
  margin-top: 0.6rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-luxa-Sq6 .group-80-JsJ .image-86-8ak {
  width: 6rem;
  height: 6rem;
  position: relative;
  background-size: 100% 125%;
  background-position: 0 0;
  background-image: url('../images/dp.png');
  border-radius: 20.9rem;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-fcec-nfJ {
  margin-bottom: 2.1706rem;
  width: 100%;
  height: 52.5794rem;
  position: relative;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-fcec-nfJ .image-59-fUC {
  width: 191.85rem;
  height: 49.5rem;
  position: absolute;
  top: 0.15rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.9rem;
}

.talk-questions-Vd2 .group-59-on8 .group-fcec-nfJ .rectangle-78-iBa {
  width: 191.85rem;
  height: 50.85rem;
  position: absolute;
  top: 0;
  background: linear-gradient(-180deg, rgba(217, 217, 217, 0) -0%, rgba(227, 231, 238, 0.5699999928) 24.27%, rgba(234, 240, 253, 0.9599999785) 85.21%, #eaf0fd 98.23%);
}

.talk-questions-Vd2 .group-59-on8 .group-fcec-nfJ .the-hard-truth-of-studying-computer-science-YAc {
  width: 105.3rem;
  height: 6.8rem;
  position: absolute;
  left: 10.95rem;
  top: 24.9rem;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.talk-questions-Vd2 .group-59-on8 .group-fcec-nfJ .thinking-of-studying-computer-science-lets-find-out-what-would-actually-be-going-on-in-universities-9gC {
  width: 106.1rem;
  height: 8.8rem;
  position: absolute;
  left: 10.95rem;
  top: 31.7rem;
  font-size: 2.9rem;
  font-weight: 300;
  line-height: 1.5102273349;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.talk-questions-Vd2 .group-59-on8 .group-fcec-nfJ .ellipse-4-N3A {
  width: 9.6rem;
  height: 9.6rem;
  position: absolute;
  left: 172rem;
  top: 16.65rem;
  box-shadow: 0 0.4rem 2.8rem rgba(52, 93, 144, 0.6000000238);
  background-color: #345d91;
  border-radius: 4.8rem;
}

.talk-questions-Vd2 .group-59-on8 .group-fcec-nfJ .ellipse-12-ncg {
  width: 9.1rem;
  height: 9.1rem;
  position: absolute;
  left: 10.9998rem;
  top: 43.4794rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/dohn-joe.png');
  border-radius: 4.55rem;
}

.talk-questions-Vd2 .group-59-on8 .group-fcec-nfJ .dohn-joe-ShE {
  width: 10.9rem;
  height: 3.5rem;
  position: absolute;
  left: 21.45rem;
  top: 46.3rem;
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #345d91;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.talk-questions-Vd2 .group-59-on8 .group-fcec-nfJ .posted-1-month-ago-V9i {
  width: 20.1rem;
  height: 3rem;
  position: absolute;
  left: 42.85rem;
  top: 46.3rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #c1c1c1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.talk-questions-Vd2 .group-59-on8 .group-fcec-nfJ .vector-9VA {
  width: 3.3rem;
  height: 4.5rem;
  position: absolute;
  left: 175rem;
  top: 19.2rem;
  object-fit: contain;
  vertical-align: top;
}

.talk-questions-Vd2 .group-59-on8 .group-fcec-nfJ .input-ctY {
  box-sizing: border-box;
  padding: 0.85rem 3.45rem;
  width: 23.7rem;
  height: 3.9rem;
  cursor: pointer;
  position: absolute;
  left: 78.05rem;
  top: 45.6rem;
  overflow: hidden;
  border: solid 0.1rem #000000;
  background-color: #ffd9d9;
  border-radius: 2.8rem;
}

.talk-questions-Vd2 .group-59-on8 .group-fcec-nfJ .input-ctY .input-51S {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2222222222;
  color: rgba(0, 0, 0, 0.8500000238);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.talk-questions-Vd2 .group-59-on8 .group-hozg-rgQ {
  margin: 0rem 11.85rem 0rem 21.45rem;
  box-sizing: border-box;
  width: 170rem;
  padding: 4.35rem 5.6rem 5.1rem 5.6rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
  border-radius: 3.3rem;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-hozg-rgQ .sharing-session-review-questions-4Gg {
  margin: 0rem 0rem 2.9rem 1.9rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.0166666667;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-hozg-rgQ .which-university-did-the-speaker-dohn-joe-study-at-WuN {
  margin-bottom: 3.9rem;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.5102273447;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-hozg-rgQ .group-ksje-bA8 {
  margin: 0rem 0rem 2.7rem 1.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-hozg-rgQ .group-ksje-bA8 .ellipse-8-HYk {
  margin: 0rem 2.4rem 0.7rem 0rem;
  width: 2rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-hozg-rgQ .group-ksje-bA8 .a-universiti-malaya-Xhz {
  margin-right: 53.4rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-hozg-rgQ .group-ksje-bA8 .ellipse-10-qCt {
  margin: 0rem 2.4rem 0.7rem 0rem;
  width: 2rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-hozg-rgQ .group-ksje-bA8 .c-universiti-kebangsaan-malaysia-j3N {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-hozg-rgQ .group-gphz-nnL {
  margin-left: 1.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-hozg-rgQ .group-gphz-nnL .ellipse-15-WCY {
  margin: 0.4rem 2.4rem 0rem 0rem;
  width: 2rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-hozg-rgQ .group-gphz-nnL .b-universiti-sains-malaysia-Q32 {
  margin: 0rem 44.8rem 0.1rem 0rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-hozg-rgQ .group-gphz-nnL .ellipse-11-3rg {
  margin: 0.4rem 2.4rem 0rem 0rem;
  width: 2rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.talk-questions-Vd2 .group-59-on8 .group-hozg-rgQ .group-gphz-nnL .d-universiti-pahang-malaysia-jjW {
  margin-top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.talk-questions-Vd2 .bi-arrow-left-square-fill-unQ {
  width: 6rem;
  height: 6rem;
  position: absolute;
  left: 5rem;
  top: 5rem;
  object-fit: contain;
  vertical-align: top;
}